<h1>What number will you choose?</h1>

<form action="/number/checker" method="get">
  <label for="">Enter a number between 1 and 10:
    <input type="text" name="user_input">
  </label>

  <input type="submit" name="" value="Place Guess!">
</form>
