<h1>
    Most beautiful islands in the world
</h1>

<ul>
<% @islands.each do |i| %>
    <li>
        <a href="<%= island_path( i.id ) %>">
            <%= i.name %>
        </a>
    </li>
<% end %>
</ul>