/* Main body styles */
@import url('https://fonts.googleapis.com/css?family=Alata|Solway|Khula|Bebas+Neue&display=swap');
/* font-family: 'Alata', sans-serif;
font-family: 'Solway', serif; */
* {
  /* border: 1px solid lime; */
  box-sizing: border-box;
}
body {
  background-color: #00000077;
  /* background: url(../images/background.jpg); */
  background-size: cover;
  background-blend-mode: color;
}
div.wrapper {
  /* display: inline-block; */
  height: 92vh;
  width: 70vw;
  border: 1px solid lime;
  margin: 0 auto;
  background-color: #DBDBDBDF;
  /* filter:opacity(0.9);  */

}
/* Main Body Styles */
/* Nav Bar Styles */
nav li {
  font-family: 'Alata', sans-serif;
  background-color: #361941;
  border-radius: 20%;
}

nav li:hover {
  background-color: #8840A3;
}

#currentPage {
  background-color: black;
  color: white;
}

nav {
  /* height: 10vh; */
  background-color: #444444;
  /* border: 1px solid red; */
  /* border-bottom: 5px solid #8840A3; */
}
nav * {
  display: inline-block;
  text-align: center;
  padding: 10px;
  color: #CCCCCC;
}
#navLinks {
  position: relative;
  height: 5vh;
  width: 100%;
  /* border: 1px solid red; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.linkButtons {
  /* height: */
  /* width:  */
}
/* Nav Bar styles */
/* Content Styles */
#photo {
  width: 95%;
  height: 95%;
  border-radius: 50%;
  object-fit: cover;
  margin: 2.5%;
  object-position: top;
}
div#purple {
  filter: none;
  background-color: #8840A3;
  width: 20vw;
  height: 20vw;
  margin: 15px 30px 30px 15px;
  text-align: center;
  border-radius: 50%;
  float:left;
}
.infoHeading {
  position: relative;
  top: 3vh;
  right: 8vh;
  /* border: 1px solid blue; */
  float: right;
  font-family: 'Bebas Neue', cursive;
  font-size: 50pt;
  z-index: 1;
}
#info {
  margin:0, auto;
}
#purple > p {
  /* position: absolute; */
  top: 100px;
  font-size: 20pt;
}
/* Content Styles */
.headSpace {
  /* border: 1px solid lime; */
  height: 5%;
}
.bottomSpace{
  /* border: 1px solid magenta; */
  height: 5%;
}
#textContentArea {
  /* border: 1px solid teal; */
  position: relative;
  width: 85%;
  height: 90%;
  margin: 0 auto;
}
p {
  font-family: 'Khula', sans-serif;
  padding-top: 130px;
}
li#info {
  font-family: 'Khula', sans-serif;
}
/* Fppter Styles */
footer {
  position: fixed;
  width: 100%;
  height: 3vh;
  background-color: #5E5768;
  text-align: right;
  color: #AAAAAA;
  padding: 10px;
  line-height: 0.2vh
}
/* Footer Styles */
@media (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
