<h2>guess a number between 1 and 10:</h2>

<form action="/luckynumber/reveal">
  <select name="number_guess" id="number_guess">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
    <option>10</option>
  </select>
  <br>
  <input type="submit" value="guess!">
</form>
<p><a href="/">home</a></p>
