#magic {
  width: 50vw;
  text-align: center;
  margin: 10px;
}

#magic8BallAnswer {
  z-index: 2;
  position: absolute;
  width: 200px;
}

#div8BallContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadein 4s;
}

#div8ball {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  /* border-style: solid; */
  /* border-width:  0 200px 346.4px 200px; */
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  /* border-color: transparent transparent blue transparent; */
  background-color: blue;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
