<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1> <%=@plMove%> Versus <%=@aiMove%> it's a <%=@output%> </h1>
  <h1> Go again </h1>
  <form action="/rpc/throwing">
    <label>
      <button type="submit" name="type" value="Rock"> Rock </button>
      <button type="submit" name="type" value="Scissors"> Scissors </button>
      <button type="submit" name="type" value="Paper"> Paper </button>
    </label>
  </form>
</body>
</html>
