<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>A list of musicians</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>A list of musicians</h1>
    <hr>
    <a href="/musicians">Index</a>
    <a href="/musicians/new">Add New Musician</a>

    <%= yield %>
    <hr>
    <footer>&copy; COCO Republic 2020</footer>
  </body>
</html>
