<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cool Bands</title>
</head>
<body>
  <h1>Bands I Like :)</h1>

  <hr>
    <%= yield %>
  <hr>
  <footer>
    &copy Harry's Band List
  </footer>
</body>
</html>
