<h1>Add a band you like!</h1>

<div class="add_band_info">
create
  <form class="" action="/bands" method="post">
    <label for="">
      Name:
      <input type="text" name="name" >
    </label>

    <label for="">
      Genre
      <input type="text" name="genre" >
    </label>

    <label for="">
      Song
      <input type="text" name="song" >
    </label>

    <label for="">
      Year
      <input type="text" name="year" >
    </label>

    <label for="">
      Together
      <input type="text" name="together" >
    </label>

    <label for="">
      Album
      <input type="text" name="album" >
    </label>

    <input type="submit" name="" value="Add band">
  </form>
</div>
