<form action="/mountains" method="post">
  <div class="mountain-details">
    <div>Name:</div>
    <input type="text" name="name">
  </div>
  <div class="mountain-details">
    <div>Height:</div>
    <input type="text" name="height">
  </div>
  <div class="mountain-details">
    <div>Country:</div>
    <input type="text" name="country">
  </div>
  <div class="mountain-details">
    <div>Longitude:</div>
    <input type="text" name="longitude">
  </div>
  <div class="mountain-details">
    <div>Latitude:</div>
    <input type="text" name="latitude">
  </div>
  <div class="mountain-details">
    <div>First ascent year:</div>
    <input type="text" name="first_ascent_year">
  </div>
  <div class="mountain-details">
    <div>Range:</div>
    <input type="text" name="range">
  </div>
  <br>
  <input type="submit" value="Save Mountain">
</form>