<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>My Favourite Mountains</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <h1>Mountains - Bucket List
    </h1>
    <hr>

    <%= yield %>

    <hr>
    <footer>
      &copy; Random Productions 2000
    </footer>

  </body>

</html>
