<h2>Add your bucket list Mountain</h2>

<form action="/mountains" method="post">
  <label>
    Name:
    <input type="text" name="name">
  </label>
  <br>

  <label>
    Location:
    <input type="text" name="location">
  </label>
  <br>

  <label>
    Description:
    <input type="text" name="description">
  </label>
  <br>

  <label>
    Favourtie:
    <input type="text" name="favourite">
  </label>
  <br>

  <label>
    Image URL:
    <input type="text" name="image_url">
  </label>
  <br>

  <input type="submit" value="New Mountain">

</form>
