<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue Flickr</title>

  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <h1>Vue Flickr!</h1>
  <hr>
    <div id="app">
      <!-- {{ message }} -->
      <br>

      <!-- create a search and form submit -->
      <input type="text" v-model.lazy="query" v-on:keyup.enter="submit(query)" placeholder="enter search text here">
      <br>

      <h3 v-if="showSearchQuery">Search results for: {{ query }}</h3>


      <!-- display the results -->
        <div id="results">
            <img v-for="img in resultsArray" :src="generatePhotoURL(img)" :alt="img.title">
        </div>






    </div>

  <script src="js/vue.js" charset="utf-8"></script>
  <script src="js/jquery.js" charset="utf-8"></script>
  <script src="js/main.js" charset="utf-8"></script>
</body>
</html>
