<h1>Select the game you want to play!</h1>

<ul class="gameslist">
    <li><a href="/magic_conch">Magic Conch Shell</a></li>
    <li><a href="/secret_number">Secret Number</a></li>
    <li><a href="/rock_paper_scissors">Rock Paper Scissors</a></li>
</ul>