<h1>Select the game you want to play!</h1>

<ul class="gameslist">
    <li><a href="#">Magic Conch Shell</a></li>
    <li><a href="#">Secret Number</a></li>
    <li><a href="#">Rock Paper Scissors</a></li>
</ul>