<h1>choose your game:</h1>

<ul id="choose">
  <li><a href="/magic8ball">magic-8-ball</a></li>
  <li><a href="/luckynumber">lucky-number</a></li>
  <li><a href="/rockpaperscissors">rock-paper-scissors</a></li>
</ul>
