<h1>What are your troubles?</h1>

<form action="/magicball/answer">
  <label>
    Enter your troubles here:
    <input type="text" name="query">
  </label>
  <input type="submit" name="" value="Submit to the GODS!">
</form>
