html{
  height: 100%;
  margin: auto;
  width: 960px;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  height: 800px;
}

header {
  background-color: black;
  margin-top: 0;
}

h1,h2,p,a {
color: white;
font-family: 'Cinzel', serif;
font-weight: 1.2em;
}

p {
  line-height: 1.8;
  text-align: left;
  padding: 10px;
  background-color: black;
}

h1 {
  font-size: 23px;
  padding-left: 10px;
  margin: 5px;
}

h2 {
  padding-left: 10px;
  font-size: 19px;
  margin: 5px;

}

.leftNav {
  background-color: #63271f;
  border-radius: 10px;
  padding: 20px;
  color: white;
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
}

#wallpaper {
  background-image: url("https://i.imgur.com/UyiVcH2.jpg");
  background-position: center;
  background-size: cover;
  position: fixed;
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

footer{
  position: absolute;
  bottom: 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.leftBox, .rightBox {
  display: inline-block;
  width: 35%;
  vertical-align: top;
}

.leftBox {
  padding-top: 100px;
  margin-left: 20px;
  height: 300px;
}

.rightBox {
  position: absolute;
  right: 70px;
  height: 400px;
  width: auto;
  margin-top: 40px;
}

footer span {
  display: inline;
  color: white;
  margin: 0 auto;
}

img {
  border-radius: 5px;
}

.bigSection, .bigSection2 {
display: inline-block;
width: 35%;
vertical-align: top;
}

.bigSection p {
font-size: 13px;
}

.bigSection2 p {
font-size: 13px;
}

.bigSection{
position: absolute;
margin-left: 25px;
height: 300px;
}

.bigSection2 {
position: absolute;
right: 25px;
height: 400px;
}

th, td {
color: white;
background: #63271f;
width: 250px;
margin: 25px;
height: 50px;
vertical-align: middle;
padding: 15px;
text-align: center;
border: 1px solid black;;
}

tr:hover {
  background-color: #f5f5f5;
}

.table1, .table2{
  display: inline-block;
  vertical-align: top;
  width: 35%;
}

.table1{
margin-top: 20px;
margin-left: 20px;
}

.table2 {
  position: absolute;
  margin-top: 20px;
  right: 20px;
  width: auto;
}

.box{
  position: absolute;
  right: 20px;
  height: 400px;
  width:auto;
}

.video {
  display: inline-block;
}
