


.logo{
position: relative;
  left: 150px;
  top:30px;
}
.mainimages{
  position: relative;
    left: 150px;
    top: 30px;


}

 .bottomrow{
position: relative;
  left: 150px;
  top: 30px;
  margin-left: 20px;
}

/*.huffpost{
  position: relative;
    left: 20px;



}
