<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>A list of highest mountains</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>A list of highest mountains!</h1>
    <hr>

    <%= yield %>

    <hr>
    <footer>&copy Moutain List</footer>
  </body>
</html>
