<h2>Add new mountains</h2>
<form action="/mountains" method="post">
  <label>
    Name:
    <input type="text" name="name">
  </label>
  <br>

  <label>
    Height(m):
    <input type="text" name="height_m">
  </label>
  <br>

  <label>
    Range:
    <input type="text" name="range">
  </label>
  <br>

  <label>
    Parent mountain:
    <input type="text" name="parent_mountain">
  </label>
  <br>

  <label>
    First ascended:
    <input type="text" name="first_ascended">
  </label>
  <br>

  <label>
    Country:
    <input type="text" name="country">
  </label>
  <br>

  <label>
    Image URL:
    <input type="text" name="image_url">
  </label>
  <br>

  <input type="submit" value="Create Mountain">

</form>
