<h2>Here is your result:</h2>
<p>
  <%= @result %>
</p>

<form action="/choose_games/numbers">
  <input type="submit" value="Guess again!">
</form>

<form action="/choose_games">
  <input type="submit" value="Home Page">
</form>
