<h2>Add new mountain!</h2>

<form action="<%= mountains_path %>" method="post">

  <label>
    <strong>Name:</strong>
    <input type="text" name="name" value="">
  </label><br>

  <label>
    <strong>Height:</strong>
    <input type="text" name="height" value="">
  </label><br>

  <label>
    <strong>Range:</strong>
    <input type="text" name="range" value="">
  </label><br>

  <label>
    <strong>Parent Mountain:</strong>
    <input type="text" name="parent_mountain" value="">
  </label><br>

  <label>
    <strong>First Ascended Year:</strong>
    <input type="text" name="first_ascended" value="">
  </label><br>

  <label>
    <strong>Country:</strong>
    <input type="text" name="country" value="">
  </label><br>

  <label>
    <strong>Image:</strong>
    <input type="text" name="image_url" value="">
  </label><br>

  <input type="submit" name="" value="Add new mountain!">
</form>
