<h2>The player's choice was, <%= @user_choice %>!</h2>
<h2>The computers choice was, <%= @cpu_choice %>!</h2>

<h3>It's a <%= @result %>, for the player this time!</h3>

<form action="/rock_paper_scissors">
    <input type="submit" value="Play Another Game!">
</form>