<h2>Rock, Papaer, Scissors...Shoot!</h2>

<form action="/rock_paper_scissors/rock">
    <input type="submit" value="Rock"><br>
    <input type="submit" formaction="/rock_paper_scissors/scissors" value="Scissors"><br>
    <input type="submit" formaction="/rock_paper_scissors/paper" value="Paper">
</form>