<h2>You asked: <em><%= @question %></em></h2>
<h2>My answer is: <strong><%= @answer %></strong></h2>

<%= link_to 'Ask more questions', controller: 'magic8', action: 'form' %>
<%= link_to 'Home', controller: 'main', action: 'welcome' %>