<h2>Enter your questions below:</h2>
<form action="/magic8/answer">
  <input type="text" name="question">
  <input type="submit" value="Submit">
</form>
<%= link_to 'Home', controller: 'main', action: 'welcome' %>