<h1>Can you guess what number Mr.Chrome is thinking of?</h1>

<form action="/secret_number/1'">
    <input type="submit" value="1">
    <input type="submit" value="2" formaction="/secret_number/2">
    <input type="submit" value="3" formaction="/secret_number/3">
    <input type="submit" value="4" formaction="/secret_number/4">
    <input type="submit" value="5" formaction="/secret_number/5">
    <input type="submit" value="6" formaction="/secret_number/6">
    <input type="submit" value="7" formaction="/secret_number/7">
    <input type="submit" value="8" formaction="/secret_number/8">
    <input type="submit" value="9" formaction="/secret_number/9">
    <input type="submit" value="10" formaction="/secret_number/10">
</form>