@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

* {
  box-sizing: border-box;
  margin: .5% 5% 0 5%;
}


body {
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: #222226;
}

.heading1 {
  display: block;
  position: relative;
  text-align: right;
  top: -37px;
  left: 1%;
  /* margin-right: 5%; */
  /* padding-right: 5%; */
}

div {
  margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: 0 0;
    display: block;
}

.backgroundImg {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/68/Margaret_Hamilton_1995.jpg/440px-Margaret_Hamilton_1995.jpg)
  height: 688px;
  display: block;
}

img {
  position: relative;
    display: block;
    /* width: 100%; */
    height: auto;
    background: no-repeat 50% 50%;
    background-size: cover;
    top: 4vw;
    right: 1vw;

}

.textWrap {
  position: absolute;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 0 6.17499675vw;
  top: 25vw;
  right: -6vw;
}

.textWrap p {
  text-align: right;
  margin-right: 10%;
}

h2 {
  position: relative;
  margin-bottom: .7em;
  font-style: normal;
  font-weight: 700;
  right: -15%;
  top: 22%;
  width: 50%; /*This will work*/
  box-sizing: border-box;
  right: -40%;
}

#headerWrapBar {
  position: relative;
  width: 90%;
  height: auto;
  top: 11px;
  left: -88px;
  padding: 9px 0;
}

li {
  width: 10%;
  display: inline-block;
  text-align: center;
  font-family: serif;
  color: #222226;
  font-size: 17px;
  padding-right: 10%;
  list-style: none;
  border: 0;
  text-decoration: none;
}

.about {
    box-sizing: border-box;
    position: absolute;
    display: inline-block;
    top: 11vw;
    width: 80vw;
    height: 40vw;
    right: 10vw;
    background-color: #efcb56;
    /* margin: 8.5% -1% 0px 1%; */
}

.legacyInfo {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  background-color: #efcb56;
  text-align: center;
  top: 5vw;
  right: -6vw;
  height: 32vw;
  width: 40vw;
}

.admire {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  background-color: #efcb56;
  text-align: center;
  top: 2vw;
  left: 9vw;
  height: 32vw;
  width: 40vw;
}

a {
  text-decoration: none;
  color: #222226;
}

p {
  padding: 10px;
}

.navBar {

}

.apollo {
  position: relative;
    height: 38vw;
    width: 54vw;
    top: 5vw;
    left: 20vw;
}

img.apollo {
  transform: rotate(0deg) scale(1.0);
  filter: hue-rotate(0deg);
  transition: 1s;
  /* Animations */
}

img.apollo:hover {
  transform: rotate(4060deg) scale(3.0);
  filter: hue-rotate(360deg);
  /* rounds the corners of the img...hover - it only takes effect if you hover the mouse over the img*/
}
}
