* {
  margin:0;
  padding: 0;
}
img{
  width:200px;
  height:200px;
}
marquee {
  width: 100%;
  size:50px;
  color:red;
}
#green {
  color:green;
}
body {
  background-image: url("https://media.giphy.com/media/XrnJ3ofl5DCtG/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

#rareparrot {
  top: 45px;
}
