<h2>Ro... Sham... Bo... Shoot!</h2>

<form action="/games/rockpaperscissors/rock">
    <input type="submit" value="rock"><br>
    <input type="submit" formaction="/games/rockpaperscissors/paper" value="paper"><br>
    <input type="submit" formaction="/games/rockpaperscissors/scissors" value="scissors"><br>
</form>