<h2>Choose your games:</h2>
<ul>
    <a href="/choose_games/questions"><strong>Magic 8 Ball</strong></a>
    <br>
    <a href="/choose_games/numbers"><strong>Secret Number</strong></a>
    <br>
    <a href="/choose_games/rock_paper_scissors"><strong>Rock Paper Scissors</strong></a>

</ul>
