<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Highest mountains of the world</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Highest mountains of the world</h1>
<hr>

<%#-- put the specific route template here %>
<%= yield %>
<hr>
    <footer>&copy; Montains 2049 </footer>
  </body>
</html>
