<h2>ADD NEW MOUTAINS</h2>

<form action="/mountains" method="post" >

  <label>
Name:
<input type="text" name="name">

  </label>
  <br>

  <label>

Description:
<input type="text" name="description">

  </label>
  <br>


  <label>
Snow:
<input type="text" name="snow">

  </label>
  <br>

    <label>
Heigth:
  <input type="text" name="heigth">

    </label>
    <br>


    <label>
Age:
  <input type="text" name="age">

    </label>
    <br>



    <label>
Image URL:
  <input type="text" name="image_url">

    </label>
    <br>




    <input type="submit" value="Create Mountain">





</form>
