/* body {
  background-color: grey;
  color: brown;
  font-family: Helvetica, sans-serif;
}

  a, a:visited{
  color: red;
  text-decoration: none;
}

img {
  max-width: 400px;
}

footer {
  position:absolute;
   bottom: 0px;
   float: right;
   height: 35px;
   margin: 0px 50px 0px 0px;
   text-align: right;
   padding: 10px 30px;;
} */
