<h2>Check Results!</h2>

<p>
  <%= @result %>
</p>

<form action="/choose_games/rock_paper_scissors">
  <input type="submit" value="Pick another throw!">
</form>

<form action="/choose_games">
  <input type="submit" value="Home Page">
</form>
