<h2>Choose Your Throw:</h2>

  <a href="/choose_games/rock_paper_scissors/rock"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Rock-paper-scissors_%28rock%29.png/100px-Rock-paper-scissors_%28rock%29.png" alt="rock"></a>
  <br>

  <a href="/choose_games/rock_paper_scissors/paper">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/Rock-paper-scissors_%28paper%29.png/100px-Rock-paper-scissors_%28paper%29.png" alt="paper"></a>
  <br>
  <a href="/choose_games/rock_paper_scissors/scissors">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Rock-paper-scissors_%28scissors%29.png/100px-Rock-paper-scissors_%28scissors%29.png" alt="scissors">
  </a>

  <form action="/choose_games">
    <input type="submit" value="Home Page">
  </form>
