<h1>Let's Play Rock | Paper | Scissors</h1>

<p>
  Pick your hand:
</p>

<form action="/rps/play_hand">

  <label>
    Rock|Paper|Scissors:

    <select name="hand">

      <option> Rock </option>
      <option> Paper </option>
      <option> Scissors </option>

    </select>
  </label>

</form>
