<h1>BEST GAMES EVER</h1>

<img src="/assets/m8b.jpg" alt="Magic 8 Ball">

<img src="/assets/sn.jpg" alt="Secret Number">

<img src="/assets/rps-items.png" alt="rock-paper-scissors">

<%# <%= image_tag 'm8b.jpg', alt: 'Magic 8 Ball', class: game1 %> 
