.catwalk {
    position: absolute;
    left: 0;
}

html, body{
    height:100%;
    margin: 0;
    background-color: white;
}

#background{
    display:inline-block;
    height:100%;
    width:100%;
}

.culture{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1360px;
    height: 766px;
    margin-top: -383px;
    margin-left: -680px;
}