<h1>Magic 8 Ball</h1>

<form action="/magic/result">

<label>
  Enter your question:
</label>

<input type="text" name="question" placeholder="A question..." autofocus>

<button>Get Forture</button>

</form>
