<h1>add a monkey</h1>

<form action="<%= monkeys_path %>" method="post">

  <label>
    Name:<input type="text" name="name">
  </label><br>

  <label>
    Native Country:<input type="text" name="native_country">
  </label><br>

  <label>
    Weight:<input type="text" name="weight">
  </label><br>

  <label>
    Height:<input type="text" name="height">
  </label><br>

  <label>
    Lifespan:<input type="text" name="lifespan">
  </label><br>

  <label>
    Image:<input type="text" name="image">
  </label><br>

  <input type="submit" value="add">

</form>
