ul {
  list-style-type: none;
}

nav {
  background-color: black;
  color: white;
  font-family: sans-serif;
  font-size: 19px;
}

nav ul {
  margin: 0 5%;
}

nav ul li{
  display: inline-block;
  padding: 25px 10px;
}

nav ul li:hover {
  background: url(../images/bg_nav_rollover.png) repeat-x;
}

.topBanner {
  margin: 0% 15% 0% 7%;
  display: block;
}

.topBanner logo {
  float: left;
}

.topBanner socials {
  float: right;
}
body {
  background: url(../images/bg_wrapper.png) repeat-x,  url(../images/bg_body.jpg) repeat;
  /* repeat-x: tile the image horizontally */
  font-family: sans-serif;
  font-size: 14px;
}

img {
  margin: .5% 15% 2% 7%;
}

.table {
  display: block;
  column-count: 2;
  padding: .5% 10% 0% 2%;
  border-style: inset;
  margin: .5% 15% 2% 7%;
}

.table img {
  padding-left: 70%;

}

.HomeBox {
  display: block;
  column-count: 3;
  text-align: center;
  column-gap: 40px;
  column-width: 100px;
  margin: .5% 15% 2% 7%;

}
