<h1>Welcome to our games!</h1>
<ul>
  <li><%= link_to 'Magic 8 Ball', controller: 'magic8', action: 'form' %></li>
  <li><%= link_to 'Number Guessing', controller: 'numbers', action: 'form' %></li>
  <li><%= link_to 'Rock Paper Scissors', controller: 'rps', action: 'form' %></li>
</ul>