<h1>Pick your number</h1>

<form action="/secretnumber/answer">

  <label>
    Pick a number between 1 and 10
    <input type="text" name="number">
  </label>
  <input type="submit" name="Pick" >



</form>
