* {
  margin:auto;
  padding: auto;
}
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
  font-family: Roboto, sans-serif;
  background-image:url("https://www.codingame.com/servlet/fileservlet?id=14497257275137");
  color: black;
  width: auto;
}
#name {
  text-align:center;
  padding:10px;
  color:White;
}
img {
  display: block;
  margin: auto;
  padding: auto;
}
#flag {
  width: 250px;
  height: 250px;
  float: right;
}
#Trivia {
  float: left;
  padding: 20px;
}
#Hometown {
  float:right;
  padding: 20px;
}
#Navigation {
  background: rgba(0,125,255,0.8);
  display: inline-block;
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  font-weight: 800;
}
a {
  text-decoration: none;
  padding-top: inherit;
  padding-bottom: inherit;
}
a:hover {
  color: orange;
}
div {
  background: rgba(125,125,125,0.5);
  padding: 20px;
  margin: 10px 20px 20px 20px;
  text-align: center;
}
