<h1>Guess the secret number between 1 and 10</h1>

<form action="/number/validatenumber">
  <label>
    Your guess: <input type="number" name="num" min=1 max=10 value=1>
  </label>

  <input type="submit" value="Guess">
</form>
