<h1>Add Jordan</h1>

<form action="<%= jordans_path %>" method="post">

  <label>
      Name:
    <input type="text" name="name">
  </label>
    <br>

  <label>
      Release Year:
    <input type="text" name="year">
  </label>
    <br>

  <label>
      Designer:
    <input type="text" name="designer">
  </label>
    <br>

  <label>
      Original Price:
    <input type="text" name="price">
  </label>
    <br>

  <label>
      Image:
    <input type="text" name="image">
  </label>
    <br>

  <input type="submit" name="" value="Create J">

</form>
