<html>
    <head>
        <meta charset="UTF-8">
        <title>Mountains Databse</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
<body>
<header>
    <h1>MOUNTAINS</h1>
    <nav>
        <ul id="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/animals">Mountains Database</a></li>
            <li><a href="/animals/new">Add a Mountain</a></li>
        </ul>
    </nav>
</header>
    <hr>
   <!-- insert the actual ERB template that i asked for, here: -->
    <%= yield %>
    <hr>
    <footer>
        &copy Ice-Climber Productions 2019
    </footer>
</body>
</html>