<h1>Welcome to the arena!</h1>

<form action="/rock_paper_scissors/:id">
  <label>
    Please Select Your Weapon:
    <select class="" name="throw">
      <option value="rock">Rock</option>
      <option value="paper">Paper</option>
      <option value="scissors">scissors</option>
    </select>
  </label>
  <input type="submit" name="" value="throw">

</form>
