<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Movie Search</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

  <h1> IMDB Movie Search </h1>

  <hr>

  <%= yield %>


  <hr>

  <footer>
    &copy; jamie McNeill 2019
  </footer>


  </body>
</html>
