<h2>Movie Details</h2>

<p>
  <ul>
    <li>Movie Title: <%= @title_list %> </li>
    <li>Overview: <%= @overview %> </li>
    <li>Popularity: <%= @popularity %></li>
  </ul>

    <img src = "http://image.tmdb.org/t/p/w185<%= @poster %>" alt="movie poster">

</p>
