<form class="" action="/lookup">

  <h2>Please enter the movie name you wish to search for:</h2>

  <label>
  Movie Name:
  <input type="text" name="movie_name">
  </label>

  <button>Search Movie</button>

</form>
