<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1> Guess a number between 1 and 10 </h1>
  <form action="/secret/answer">
    <label>
      <input type="text" name="question"> </input>
      <input type="submit"></input>
    </label>
  </form>
</body>
</html>
