<h2>query the mystical 8 ball to answer your riddle:</h2>

<form action="magic8ball/behold">
  <label>
    <input id="magic" type="text" name="ball_question">
  </label>
  <br>
  <input type="submit" value="shake the ball">
</form>
<p><a href="/">home</a></p>
