<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mountains of the World</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

  <h1>Mountains of the World Encyclopedia</h1>
  <hr>
  <nav>
   <a href="/mountain">Index</a>
   |
   <a href="/mountain/new">Add Mountain</a>
 </nav>

      <%= yield %>

  <hr>

  </body>

<footer>
  &copy; Mountaineers Guide 2019
</footer>

</html>
