<h2>Add New Mountain</h2>

<form action="/mountain" method="post">

<label>
Name:
<input type="text" name="name">
</label>
<br>

<label>
Location:
<input type="text" name="location">
</label>
<br>

<label>
Height:
<input type="integer" name="height">
</label>
<br>

<label>
Image URL:
<input type="text" name="image_url">
</label>
<br>

<button type="submit" name="button" value="create mountain">Submit</button>

</form>
