

<form action="/listresultsgoto">
  <select name="page_num">
    <%  %>
    <option value="<%=  %>"><%=  %></option>
    <%  %>
  </select>
  <input type="submit">
</form>
<%# input type = hidden for search title %>
<%# put a times total pages to make the number list %>
