<h2>movie title search result</h2>

<ul>
<li>title: <%= @title %></li>
<li>release year: <%= @release_year %></li>
<li>id: <%= @id %></li>
<li><img src=<%= @poster_link %>></li>
</ul>

<a href="/details">details</a>
