<h1>Guess it</h1>

<p>
  Guess a number between 1 - 10:
</p>

<form action="/secretnum/results">
  <label>
    <input type="text" name="guessed_num">
  </label>

  <label>
    <input type="submit" name="guessed_it">
  </label>

</form>
