#results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2em;
}

#results .photo {
    text-align: center;
    width: 150px;
    height: 150px;
    margin: 2px;
}

.modal-content {
    width: 700px;
    text-align: center;
}