
body {
	line-height: 17px;
  font-family: times, serif;
	font-color: #656565;
}

a:Hover {
  color: #20222a
}

.blocks {
  display: block;
  background-color: goldenrod;
}

#container {
  margin: 20px auto;
  width: 960px;
}

.text {
  line-height: 20px;
  text-align: justify;

}

.bottom {
  border: 4px solid grey;
  margin: 0 auto;
}

#bottom {
  width: 100%;
}


p {
  margin: 10px 0;
}
