<h1>Guess the secret number</h1>

<p>Type in a guess between one and ten</p>

<form action="/secret/answer">
  <label >
    <input type="text" name="guess">
  </label>
  <input type="submit" value="answer">
</form>
