<h2>Questions:<%= @questions %></h2>
<br>
<p>
  <strong>Answers:</strong><%= @answer %>
</p>
<br>

<form action="/choose_games/questions">
  <input type="submit" value="Ask another question!">
</form>

<form action="/choose_games">
  <input type="submit" value="Home Page">
</form>
