<h2>Please enter your questions:</h2>
<form action="/choose_games/questions/answers">

<input type="text" name="questions">
<input type="submit" value="Submit Questions!">

</form>

<form action="/choose_games">
  <input type="submit" value="Home Page">
</form>
